@import '~rfs/scss';
@import 'styles/utility.scss';

.container {
    padding-top: 1rem;

}

.navBar {
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    justify-content: space-between;
    align-items: center;
}

.leftNav {
    display: flex;
}

.rightNav {}

.logoContainer {
    display: flex;

    align-items: center;

    .logo {}
}

.sr {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
 }

.iconContainer {
    display: flex;
    justify-content: center;
    order: 2;

    .icon {
       width: 1.5rem;
       height: 1.5rem;
       color: $primary;
       margin-left: 1.5rem;
    }

    .noMargin {
       margin-left: 0;
    }
 }



.navLinks {
    display: flex;

    .wrapper {
        display: none;
        margin-left: 0.75rem;
        margin-left: 0.875rem;
        align-items: stretch;

        list-style: none;

        @media (min-width: 640px) {
            display: flex;
        }

        .link {
            display: flex;

            a {
                display: flex;
                padding-left: 1rem;
                padding-right: 1rem;

                align-items: center;
                border-bottom: 2px solid transparent;

                transition-duration: 300ms;

                &:hover {
                    color: red;
                    border-color: red;
                }
            }
        }
    }

}


@media screen and (min-width: 700px) {

    .navBar{
        flex-direction: row;
        gap:0;
    }
}