@import '~rfs/scss';
@import 'styles/utility.scss';
@import '/styles/colors.scss';


.categorySection{
  @include margin-top(2rem);
  @include margin-bottom(4rem);
}

.seeMore{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  margin-top: 2rem;
  background-color: #ffffff;
  color: #141414;
  cursor: pointer;
  border: 2px solid #141414;
  font-weight: 700;
  @include font-size(1.25rem);
  transition: 0.3s ease;
  text-decoration: none;

  &:hover{
    border-color: $secondary;
  }
}