$tags: #383838;

$primary: #141414;

$bg_black: #141414;
$bg_gray: #e5e5e5;
$bg_lightgray: #f4f4f4;

$white: white;
$secondary: #f07b37;
$tertiary: #f1f1f1;

$eee: #565555;

$type_primary: #141414;
$type_secondary: #737373;
$type_important: $secondary;