$tags: #383838;

//313131
$primary: #313131;

$bg_black: #313131;
$bg_gray: #dbdbcf;
$bg_lightgray: #e9e9df;

$white: #f7f5ec;
$secondary: #f07b37;
$tertiary: #f1f1f1;

$eee: #565555;

$type_primary: #141414;
$type_secondary: #313131;
$type_important: $secondary;