@import '~rfs/scss';
@import 'styles/utility.scss';
@import '/styles/colors.scss';

.content {
  margin-block: 4rem;
}

.canvas {
  width: 100%;
  height: 100%;
}

.webSection {

  @include margin-top(2rem);
  @include margin-bottom(2rem);
  .title {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 0.5rem;

    color: $primary;

    .subtitle {
      color: $type_secondary;
    }
    
    @media screen and (max-width: 500px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.FAQ {

}
