.container {
   position: relative;
   width: 1200px;
   height: 630px;

   .grid {
      position: absolute;
      z-index: -2;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      //box-shadow: inset white 0px 0px 200px 175px;

      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 101 101"><path d="M1 10.5H0V0h10.5v1H1zM75.3 1H58.1V0h17.2v1zM42.9 1H25.7V0h17.2v1zm58.1 9.5h-1V1h-9.5V0H101zm0 64.8h-1V58.1h1v17.2zm0-32.4h-1V25.7h1v17.2zm0 58.1H90.5v-1h9.5v-9.5h1zm-25.7 0H58.1v-1h17.2v1zm-32.4 0H25.7v-1h17.2v1zm-32.4 0H0V90.5h1v9.5h9.5zM1 75.3H0V58.1h1v17.2zm0-32.4H0V25.7h1v17.2z"/></svg>');
      background-position: center;

      opacity: 80%;

      &::after {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         bottom: 0;
         right: 0;
         background: radial-gradient(transparent 10%, #ffffff 90%);
      }

   }


}

// <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 103 103"><style>.st0,
// .st1 {
//    fill: none;
//    stroke: #000;
//    stroke-width: 3;
//    stroke-linecap: square;
//    stroke-miterlimit: 10
// }

// .st1 {
//    stroke-dasharray: 16.2, 16.2
// }

// </style><path class="st0" d="M1.5 11V1.5H11" /><path class="st1" d="M27.2 1.5h56.7" /><path class="st0" d="M92 1.5h9.5V11" /><path class="st1" d="M101.5 27.2v56.7" /><path class="st0" d="M101.5 92v9.5H92" /><path class="st1" d="M75.8 101.5H19.1" /><path class="st0" d="M11 101.5H1.5V92" /><path class="st1" d="M1.5 75.8V19.1" /></svg><svg xmlns="http://www.w3.org/2000/svg" width="103" height="103" viewBox="0 0 103 103"><path d="M3 12.5H0V0h12.5v3H3zM77.3 3H58.1V0h19.2v3zM44.9 3H25.7V0h19.2v3zm58.1 9.5h-3V3h-9.5V0H103zm0 64.8h-3V58.1h3v19.2zm0-32.4h-3V25.7h3v19.2zm0 58.1H90.5v-3h9.5v-9.5h3zm-25.7 0H58.1v-3h19.2v3zm-32.4 0H25.7v-3h19.2v3zm-32.4 0H0V90.5h3v9.5h9.5zM3 77.3H0V58.1h3v19.2zm0-32.4H0V25.7h3v19.2z" /></svg>